.font-effect-shadow-multiple {
    font-family: 'Rancho', serif;
    font-size: 48px;
  }

  .font-effect-fire-animation {
    font-family: serif;
    font-size: 48px;
    color: firebrick;
  }

  .font-effect-3d {
    font-family: fantasy;
    font-size: 48px;
    color: yellowgreen;
  }

  .blogs-display .font-effect-3d {
    font-family: fantasy;
    font-size: 48px;
    color: slategray;
  }

  .italic {
    font-style: italic;
  }