.font-effect-shadow-multiple {
    font-family: 'Rancho', serif;
    font-size: 48px;
  }

  .font-effect-fire-animation {
    font-family: serif;
    font-size: 48px;
    color: firebrick;
  }

  .font-effect-3d {
    font-family: fantasy;
    font-size: 48px;
    color: yellowgreen;
  }

  .blogs-display .font-effect-3d {
    font-family: fantasy;
    font-size: 48px;
    color: slategray;
  }

  .italic {
    font-style: italic;
  }

  .sr-only {
    display: none;
  }

  .fire-dood {
    font-family: 'Rancho', serif;
    font-size: 48px;
    color: firebrick;
  }

  .router-nav-links {
    text-decoration: none;
    font-size: 3vh;
    padding: 0 5px 0 5px;
    color: darkslategrey;
  }

  .single-blog-preview {
    text-decoration: none;
  }

  .create-blog {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .create-blog * {
    margin: 15px 0 0 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .create-blog *:not(h1) {
    font-weight: bolder;
    font-size: large;
  }

  .round-butt {
    border-radius: 12px;
  }